* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 620px;
}

.container {
    width: 100%;
    padding: 5px 0 5px 100px;
    text-align: left;
    line-height: 3;
    justify-items: left;

}
.container p{
    width: 620px;
    text-align: left;
}

.container ul {
    display: block;
    padding: 0 40px 0 30px;
    background-color: #fff;
    border-radius: 20px;
    width: 615px;
}

.container ul li {
    text-align: left;
    list-style: lower-alpha;
    font-size: 15px;
}

.container ul li h3 {
    font-size: 30px;
    text-align: left;
}

.container ul li p {
    display: inline;
    padding-left: 2;

}

.container ul li a {
    text-decoration: none;
    color: #000;
    ;
    display: inline;
    padding: 3px 8px 3px 9px;
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid #333;
}

.container ul li a:hover {
    text-decoration: none;
    background-color: #333e;
    color: #ccc;
    padding-left: 2;
    font-weight: bold;
}

footer {
    bottom: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    /*==============================================================================*/
    display: grid;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-icons img {
    margin-left: 6px;
    margin-right: 6px;
}

.author,
.copyright,
.contact {
    margin-bottom: 5px;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

/*======================*/
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 6vh;
    right: 5vw;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
    background-color: #333;
    color: #fff;
}

.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
    background-color: #333;
    color: #fff;
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

/*======================*/
@keyframes showcopy {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes unshowcopy {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(80px);
    }
}

@media(max-width: 992px) {
    #back-to-top-btn {
        font-size: 28px;
        border: 3.5px solid #333;
        width: 50px;
        height: 50px;
        bottom: 7vh;
        right: 6vw;
    }

    #back-to-top-btn:hover {
        background-color: #fff;
        color: #333;
    }

    #back-to-top-btn:focus {
        background-color: #333;
        color: #fff;
    }
}

@media(max-width:768px) {
    #back-to-top-btn {
        font-size: 30px;
        border: 4px solid #333;
        width: 60px;
        height: 60px;
        bottom: 8vh;
        right: 7vw;
    }
}

@media(max-width:500px) {
    #back-to-top-btn {
        font-size: 40px;
        border: 5px solid #333;
        width: 70px;
        height: 70px;
        bottom: 9vh;
        right: 10vw;
    }
}
